RewriteEngine On

RewriteRule ^(pathnames.php|app|backend|source) assets/errors/404.php [L,NC]
#RewriteRule ^([a-zA-Z0-9]+/*)$ assets/errors/404.php [L,NC]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]